<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html lang="eng; id;">
<head>
    <meta charset="utf-8"/>
    <title>Monitor</title>
</head>
<body>
    Nama Perangkat<br>
    <input id="name-input" type="text" size="100"><br>
    <input id="name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#name-input').focus();
        document.querySelector('#name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#name-submit').click();
            }
        };

        document.querySelector('#name-submit').onclick = function(e) {
            var roomName                = document.querySelector('#name-input').value;
            window.location.pathname    = '/api/monitor/' + roomName + '/';
        };
    </script>
</body>
</html>